<ol class='items-list'>

  <li class='item flexrow items-header'>
    <div class='item-name'>
      {{localize 'BPNB_BORG.Item.Spell.Spells'}}
    </div>
    <div class='item-controls'>
      <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=' Spell'}}' data-type='spell'
        data-spell-level='{{spellLevel}}'>
        <i class='fas fa-plus'></i>
        {{localize 'BPNB_BORG.Item.Spell.AddSpell'}}
      </a>
    </div>
  </li>
  {{#each spells as |item id|}}
  <li class='item ' data-item-id='{{item._id}}'>
    <div class="flexrow">
      <div class='item-name flexrow post-item-description'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'><img src='{{item.img}}' title='{{item.name}}' width='24'
              height='24' /></a>
        </div>
        <h4 class="rollable" data-roll-type="spell" data-item-id='{{item._id}}'><strong>{{item.name}}</strong></h4>
      </div>
      <div class='item-controls'>
        <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type=' spell'}}'>
          <i class='fas fa-edit'></i>
        </a>
        <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' spell'}}'>
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
      <div class="flexrow"><small>{{{item.system.description}}}</small></div>
  </li>
  {{/each}}
</ol>