<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BPNB_BORG.Name'}}" /></h1>
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">{{localize "BPNB_BORG.Health"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.devils_luck.value" class="resource-label">{{localize "BPNB_BORG.DevilsLuck"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.devils_luck.value" value="{{system.devils_luck.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.devils_luck.max" value="{{system.devils_luck.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.spell_cast_amount.value" class="resource-label">{{localize "BPNB_BORG.SpellsPerDay"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.spell_cast_amount.value" value="{{system.spell_cast_amount.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.spell_cast_amount.max" value="{{system.spell_cast_amount.max}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "BPNB_BORG.Class"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.class_name" value="{{system.class_name}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "BPNB_BORG.Gold"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.gp" value="{{system.gp}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "BPNB_BORG.Level"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">{{localize "BPNB_BORG.Madness"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.madness" value="{{system.madness}}" data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item tab-header" data-tab="features">{{localize "BPNB_BORG.TabMain"}}</a>
    <a class="item tab-header" data-tab="description">{{localize "BPNB_BORG.SheetLabels.Description"}}</a>
    <a class="item tab-header" data-tab="spells">{{localize "BPNB_BORG.SheetLabels.Spells"}}</a>
    <a class="item tab-header" data-tab="effects">{{localize "BPNB_BORG.SheetLabels.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Main Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left"
                data-roll="d20+{{ability.value}}" data-label="{{localize ability.labelKey}}">
                {{localize ability.labelKey}}
              </label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
            </div>
            {{/each}}
          </div>
        </aside>
        <section class="main grid-span-2">
          {{> bpnb-borg-ru.features}}
        </section>
      </section>

      <section class="grid grid-3col">
        <div class="flex-group-center"><button id="action_short_rest" class="quick_action_button">{{localize "BPNB_BORG.Rest.Short"}}</button></div>
        <div class="flex-group-center"><button id="action_long_rest" class="quick_action_button">{{localize "BPNB_BORG.Rest.Long"}}</button></div>
        <div class="flex-group-center"><button id="action_defend" class="quick_action_button">{{localize "BPNB_BORG.Defend"}}</button></div>
      </section>

      <section>
        <h3 class="section-header"><strong>{{localize "BPNB_BORG.Weapons"}}</strong></h3>
        {{> bpnb-borg-ru.weapons}}
      </section>
      <section>
        <h3 class="section-header"><strong>{{localize "BPNB_BORG.Armour"}}</strong></h3>
        {{> bpnb-borg-ru.armour}}
      </section>
      <section>
        <h3 class="section-header"><strong>{{localize "BPNB_BORG.Items"}}</strong></h3>
        {{> bpnb-borg-ru.items}}
      </section>
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
      {{#if system.subclass}}
      <p><strong>Специализация:</strong> {{system.subclass}}</p>
      {{/if}}
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> bpnb-borg-ru.spells}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> bpnb-borg-ru.effects}}
    </div>
  </section>
</form>