<form class="custom-dialog roll-dialog">
  <header class="dialog-header">
    <h2>{{label}}</h2>
  </header>

  <input type="hidden" name="itemid" value="{{itemId}}" />
  <input
    type="hidden"
    name="rollLabel"
    value="{{label}}"
    data-dtype="String"
  />

  <div class="form-group">
    <label>{{label}}:</label>
    <input
      type="text"
      name="rollFormula"
      value="{{rollFormula}}"
      data-dtype="String"
    />
  </div>

  <footer class="dialog-buttons">
    <button type="submit" class="dialog-button roll">Бросить</button>
    <button type="button" class="dialog-button cancel" data-action="close">Отмена</button>
  </footer>
</form>
